body {
    color: aliceblue;
    font-size: 22px;
    min-width: 50%;
    background-image: url("resources/mp4.mp4");
    background-size: cover;
    padding: 0;
    margin: 0;
}

p {
    margin: 0 0;
}

header {
    font-family: Optima, serif;
    color: lightcoral;
    line-height: 125%;
    font-size: 45px;
    text-align: center;
    text-shadow: -1px -3px 3px #6feeca;
}

.border {
    border-radius: 10px;
    border: 5px solid #6feeca;
    background-color: rgba(5, 5, 5, 0.3);
    text-align: center;
    margin: 0.2em;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
}

.wrapper > div {
    padding: 1em;
}

#header {
    grid-column: 1/4;
}

#checkForm {
    grid-column: 1/3;
}

#checkForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 1em;
}

.xLocator {
    grid-column: 1;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.yLocator {
    grid-column: 2;
    grid-auto-rows: minmax(120px, auto);
    grid-gap: 1em;
}

.rLocator {
    grid-column: 3;
    grid-gap: 1em;
}

#area_x > p {
    text-align: left;
    margin-left: 1em;
}

#area_r > p {
    text-align: left;
    margin-left: 1em;
}

#area_y {
    height: 120px;
}

.sLocator {
    grid-column: 1/4;
    grid-gap: 1em;
}

#area_submit {
    margin: 10px;
}

#formSubmit {
    font-size: 22px;
    width: 100%;
    height: 70px;
    background: rgba(5, 5, 5, 0.3);
    border-radius: 10px;
    border: 5px solid #6feeca;
    color: #6feeca;
    margin: 0.2em;
}

.diagram {
    width: 341px;
    grid-column: 3;
    border: 5px solid #6feeca;
    border-radius: 10px;
    margin: 0.2em;
}